name: Build webadmin

on:
    workflow_dispatch:
    pull_request:
    push:
      tags:
        - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Trunk
        uses: jetli/trunk-action@v0.5.0
        with:
          version: "latest"

      - name: Add wasm target
        run: |
          rustup override set nightly
          rustup target add wasm32-unknown-unknown

      - name: Install TailwindCSS Forms
        run: |
          npm install -D @tailwindcss/forms

      - name: Build the Rust WASM app and all of its assets
        run: |
          trunk build --release

      - name: Compress bundle
        run: |
          cd dist
          zip -r ../webadmin.zip *

      - name: Publish Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
            files: 'webadmin.zip'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
